
* {
    box-sizing: border-box;
}

.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid #808080;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid #808080;
}

