@model UniFriend.Models.ClubsPageModel
@{
    ViewBag.Title = "Clubs";
}

<h2>Find Your Club Friends</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Clubs/GetClubs.js"></script>
</head>
<body>

    <div style="box-sizing: border-box; display: flex;flex-direction: column; align-items:center; justify-content: center">
        <div>
            <h2>Welcome User!</h2>
        </div>
        <div style="margin-top: 35px">
            @Html.DropDownList("ClubForm", new SelectList(Model.clubs, "ID", "Name"), "-Select Club", new { @class = "form-select", @style = "width: 400px", @id = "ClubList" })
        </div>
       
        <div style="margin-top: 35px">
            <select class="form-select" id="studentList" style="display: none; width: 400px">
            </select>
        </div>
        <div style="margin-top: 35px">
            <button type="button" class="btn btn-outline-primary" id="AddButton" style="display: block; width: 200px">Add Friend</button>

        </div>
        <div style="margin-top: 35px">
            <p id="addmessage" style="display: block; width: 400px">
                Arkadaş Ekledin!
            </p>

        </div>

    </div>
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>
</html>

