@{
    ViewBag.Title = "Home Page";
}

  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/HomePage.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>





    <div class="row">
        <div class="column left" id="ClubsActivities">Clubs Activities</div>
        <div class="column middle" id="Post">
            <div id="createPost">
                Create a post
            </div>
            <div id="postFlow">Post flow</div>
        </div>
        <div class="column right" id="Ad">Ad.</div>
    </div>

