@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/HomePage.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/HomePage/Home.js"></script>
</head>





<div class="row">
    <div class="column left" id="ClubsActivities">Clubs Activities</div>
    <div class="column middle" id="Post">

        <div id="createPost" style="background-color:gainsboro; border-radius:10px; padding:7px">
            <div class="card" >
                <h5 style="width:30%;">Photo</h5>
                <div class="card-body">
                    <button type="button" data-toggle="modal" data-target="#myModal" id="textButton" style="width:70%;">Text</button>

                    <div class="card-footer">
                        <p style="">Adding Photo</p>

                        <p style=""> Video</p>
                    </div>
                </div>
            </div>
        </div>
    
        <br />
        <br />
        <br />

        <div id="postFlow"></div>
    </div>
    <div class="column right" id="Ad">Ad.</div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Post</h4>
            </div>
            <div class="modal-body">
                <textarea id="text" maxlength="1000" style="resize:none; width:70%" rows="5"></textarea>

                <div class="form-group">
                    <label for="exampleInputFile">You can add photo/files/video.</label>
                    <input type="file" id="inputFile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="postButton" type="button" class="btn btn-primary">Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
